<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.3.0" targetFramework="net46" />
  <package id="Irony" version="0.9.1" targetFramework="net452" />
  <package id="Irony.Interpreter" version="0.9.1" targetFramework="net452" />
  <package id="TreeDotNet" version="1.3.2.21" targetFramework="net46" />
</packages>